@layout('layouts/master')

@section('content')
    {{ style('assets/styles/home') }}

    <div>
        <h1>Jacks TODO's</h1>
        <span>This is an example of a TO-DO application made with Adonis.js</span>

        <p>Simply register for an account, login and go to the 'Todos' tab and try things out!</p>

        <p>Checkout the source code on <a href="https://github.com/jwoodrow99/adonis-todo">GitHub</a></p>
    </div>
    
@endsection