@layout('layouts/master')

@section('content')
    {{ style('assets/styles/home') }}

    <p>This is an example of a TO-DO application made with Adonis.js</p>

    <a href="https://github.com/jwoodrow99/adonis-todo">GitHub Repo</a>
@endsection