main > *{
    text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

tr td.title-item {
    text-decoration: none;
}

tr td.title-item:hover {
    cursor: pointer;
    background-color: lightcoral;
}

tr.done td.title-item {
    text-decoration: line-through;
    background-color: tomato;
}

.remove-btn{
    background-color: tomato;
    font-weight: bold;
    text-align: center;
}

.remove-btn:hover{
    background-color: red;
    cursor: pointer;
}

.title:hover{
    cursor: pointer;
}

.id {
    font-weight: bold;
    width: 20px;
}

.date-c, .date-u{
    width: 150px;
}

.rm-clm{
    width: 100px;
}

main {
    background-color: lightblue;
}

main form input[type='text'] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 25vw;
    font-size: 1.25em;
    margin-right: 20px;
}

main form input[type='submit'] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 7vw;
    font-size: 1.25em;
    background-color: cornflowerblue;
    color: white;
    align-self: center;
}