table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr.done .title {
    text-decoration: line-through;
}

.remove-btn{
    background-color: tomato;
    font-weight: bold;
    text-align: center;
}

.remove-btn:hover{
    background-color: red;
    cursor: pointer;
}

.id {
    font-weight: bold;
    width: 20px;
}

.rm-clm{
    width: 100px;
}