main {
    background-color: lightblue;
}

main > *{
    text-align: center;
}

main form input[type='text'] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 25vw;
    font-size: 1.25em;
    margin-right: 20px;
}

main form input[type='submit'] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 7vw;
    font-size: 1.25em;
    background-color: cornflowerblue;
    color: white;
    align-self: center;
}

/* Table styling */

table {
  border-collapse: collapse;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}

table tr:nth-child(odd) {
  background-color: white;
}

table td, table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr .id {
    font-weight: bold;
}

table tr td.title-item:hover {
    cursor: pointer;
    background-color: lightcoral;
}

table tr.done td.title-item {
    text-decoration: line-through;
    background-color: tomato;
}

table tr td.remove-btn{
    background-color: tomato;
    font-weight: bold;
    text-align: center;
}

table tr td.remove-btn:hover{
    background-color: red;
    cursor: pointer;
}


/* Table Spacing */

table .id {
    width: 20px;
}

table .date-c, table .date-u{
    width: 150px;
}

table .rm-clm{
    width: 100px;
}