main {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

main > div {
    background-color: rgba(200, 200, 200, .5);
    padding: 20px;
    border-radius: 5px;
}

main > div a {
    color: slategray;
}

main > div a:hover{
    color: darkslategray;
}